{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/npm",
    [
      "@semantic-release/exec",
      {
        "successCmd": "./semver-publish.sh"
      }
    ],
    [
      "@qiwi/semantic-release-gh-pages-plugin",
      {
        "src": "dist"
      }
    ]
  ],
 "npmPublish": false,
}