{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/npm",
    "@semantic-release/exec"
  ],
 "npmPublish": false,
 "exec": {
    "publishCmd": "npm run deploy"
  }
}