/*
 *
 * LAYOUT
 *
 */
:root {
    --header-height: 5rem;
    --footer-height: 4rem;
    --border-radius: 0.6rem;
    --min-main-height: calc(100vh - var(--header-height) - var(--footer-height));
}


html {
    font-size: 16px;
    body {
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 700px) and (min-height: 500px) {
    html {
        font-size: 24px;
    }
}
@media screen and (min-width: 1000px) and (min-height: 1000px) {
    html {
        font-size: 32px;
    }

}

.red-field-container,
.blue-field-container{
    display: grid;
    grid-template-columns: 194fr 441fr 458fr 445fr 198fr;
    grid-template-rows: 301fr 205fr 206fr 397fr 264fr 408fr;
    grid-template-areas:
        "left barge-left barge barge-right right"
        "left start-zone start-zone start-zone right"
        "left . behind-reef . right"
        "left reef-left reef reef-right right"
        "left reef-front-left reef-front reef-front-right right"
        "left left-station driver-station right-station right";
    aspect-ratio: 1736/1791;

}
.barge-left{
    grid-area: barge-left;
}
.barge{
    grid-area: barge;
}
.barge-right{
    grid-area: barge-right;
}
.start-zone{
    grid-area: start-zone;
}
.behind-reef{
    grid-area: behind-reef;
}
.reef-left{
    grid-area: reef-left;
}
.reef{
    grid-area: reef;
}
.reef-right{
    grid-area: reef-right;
}
.reef-front-left{
    grid-area: reef-front-left;
}
.reef-front{
    grid-area: reef-front;
}
.reef-front-right{
    grid-area: reef-front-right;
}
.left-station{
    grid-area: left-station;
}
.driver-station{
    grid-area: driver-station;
}
.right-station{
    grid-area: right-station;
}

.blue-field-container > div,
.red-field-container > div {
    min-height: 0;
    min-width: 0;
    justify-self: center;
    align-self: center;
    overflow: clip;
}

.left {
    justify-self: left !important;
}
.right {
    justify-self: right !important;
}
.top {
    align-self: start !important;

}
.bottom {
    align-self: end !important;
}

#layout {
    header {
        display: grid;
        grid-template-columns: 2fr 5fr 2fr;
        height: var(--header-height);
        #logo {
            img {
                max-width: 80px;
            }
            align-self: center;
        }
        #title{
            align-self: center;
            justify-self: center;
            img {
                padding-top: 13px;
                width: 100%;
            }

        }
        .sync-button {
            justify-self: end;
            align-self: center;
            width: 1.75rem;
            margin-bottom: 0.85rem;
            padding: 0.5rem 0.75rem 0 0.5rem;
        }
    }
}
section#field-layout {
    display: grid;
    justify-self: center;

    min-height: calc(100vh - 2 * (var(--header-height) + 1rem));
    padding: 1rem 0;
    header {
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: 1.25fr 3fr 1.25fr;
        height: var(--header-height);
        .phase-selector {
            justify-self: center;
            align-self: center;
            min-width: 80%;
        }
        .penalties-menu {
            justify-self: center;
            align-self: center;
        }
    }
}


.icon {
    display: inline-block;
    width: 2rem;
    height: 1.75rem;
    fill: var(--primary-text);
    margin-top: 0.5rem;
}

.phase-grid {
    display: grid;
    grid-template-areas: "auto teleop endgame";
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
    button {
        width: 100%;
        height: 100%;
    }
}
#auto {
    grid-area: auto;
}
#teleop {
    grid-area: teleop;
}
#endgame {
    grid-area: endgame;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    height: var(--footer-height);
    div {
        font-weight: 100;
        font-size: small;
    }
    div, menu {
        justify-self: center;
        align-self: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    menu li{
        list-style: none;
        display: inline-block;
        padding: 0 .6rem;
        font-size: smaller;
        font-weight: 100;
    }
}

.red-auto-map,
.blue-auto-map {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-areas: "left center right";
    aspect-ratio: 1376/494;
    width: 100%;
    div{
        margin-top: 2rem;
        justify-self: center;
        align-self: center;
        button {
            margin: 0.35rem;
        }
    }
}

main {
    padding: 0 25px;
    min-height: var(--min-main-height);
}

@media screen and (min-width: 900px) {
    #layout > header,
    main,
    footer {
        padding-left: calc(10% + 25px);
        padding-right: calc(10% + 25px);
    }
}

.general-layout {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-areas: "middle";
    width: 100%;
    height: var(--min-main-height);
    * {
        justify-self: center;
        align-self: center;
    }
    button {
        width: 6rem;
    }
    img {
        height: auto;
    }
    .isNotVisible{
        visibility: hidden;
    }

    input{
        width:10rem;
    }
}

#start-button,
.next-button {
    width: 10rem;
    button {
        width: 100%;
    }
}


.external-team-number {
    justify-self: center;
    width:100%;
    span {
        justify-self: center;
        align-self: center;
        display: block;
    }
}

#checklist {
    /*padding-top: 10rem;*/
}

/*
 *
 * FORMS
 *
 */
button,
input {
    border-style: solid;
    border-radius: var(--border-radius);
    padding: 0.35rem .75rem;
}




/*
 *
 * INDIVIDUAL SCREEN LAYOUTS
 *
 */

.match-select {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width:100%
}

.team-select {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-areas:
            "red1 red2 red3"
            "blue1 blue2 blue3";
    height: 5rem;
}
#red1 {
    grid-area: red1;
}
#red2 {
    grid-area: red2;
}
#red3 {
    grid-area: red3;
}
#blue1 {
    grid-area: blue1;}
#blue2 {
    grid-area: blue2;
}
#blue3 {
    grid-area: blue3;
}

.checkbox-and-label {
    display: inline-block;
    white-space: nowrap;
    input {
        vertical-align: middle;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: var(--border-radius);
    }
    span {
        vertical-align: middle;
        margin-left: .5rem;
    }
}

.checklist {
    width: 100%;
    padding-left: 4rem;
    padding-bottom: 0.5rem;
    label {
        display: inline-block;
        width: 80%;
        margin-right: 1rem;
    }
    label.shared {
        width: 45%;
    }
    label span,
    label input {
        line-height: 1.5rem;
    }
}

.match-config {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width:100%;
}

.endgame {
    display: grid;
    h1 {
        text-align: center;
    }
    img {
        margin: auto;
        height: 8rem;
        width: auto;
    }
    div {
        padding: 1rem;
        display: grid;

    }
    button {
        display: block;
        justify-self: center;
        width: 8rem;
        margin-bottom: .25rem;

    }
    > button {
        width: 10rem;
    }
}

.comments-checklist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    div {
        width: 100%;
    }
}

.human-feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

/*
 *
 * COLORS
 *
 */
:root {
    --primary-text: #222;
    --primary-background: #eed;
    --secondary-text: blue;
    --secondary-background: #eed;
    --alliance-red: red;
    --alliance-blue: navy;
    --title-bar-background: #444;
    --thirdendary-text: #333;
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-text: #eed;
        --primary-background: #222;
        --secondary-text: skyblue;
        --secondary-background: #222;
        --alliance-red: red;
        --alliance-blue: dodgerblue;
        --thirdendary-text: #aaa;
    }
}
html {
    color: var(--primary-text);
    background-color: var(--primary-background);
}
a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--secondary-text)
}
.allianceRed {
    color: var(--alliance-red);
    border: var(--alliance-red) solid medium;
    border-radius: var(--border-radius);
    margin: 0.25rem;
}
.allianceBlue {
    color: var(--alliance-blue);
    border: var(--alliance-blue) solid medium;
    border: var(--border-radius);
    margin: 0.25rem;
}
#layout > header{
    background-color: var(--title-bar-background);
}
.gold {
    fill: goldenrod;
}

.star-outline{
    fill: var(--primary-text);
}
.star-filled{
    fill: goldenrod;
}
.star-empty{
    fill: var(--primary-background);
}

.human-feedback,
.match-select{
    input {
        background-color: var(--title-bar-background);
        color: var(--primary-text);
        &::placeholder {
            color: var(--thirdendary-text);
        }
    }
}

/*
 *
 * TYPOGRAPHY
 *
 */
html {
    font-family: "Roboto Light", sans-serif;
}
#title {
    font-size: 1.5rem;
    font-weight: 800;
}



/*
 *
 * GENERAL STYLING
 *
 */
.red-field-container,
.blue-field-container{
    max-height: calc(var(--min-main-height) - var(--header-height));/*todo: fixme it doesn't work*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.red-field-container{
    background-image: url("../requirements/fields/reefscape-red.png");
}
.blue-field-container{
    background-image: url("../requirements/fields/reefscape-blue.png");
}

.red-auto-map,
.blue-auto-map {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.red-auto-map{
    background-image: url("../requirements/fields/automap-red.png");
}
.blue-auto-map{
    background-image: url("../requirements/fields/automap-blue.png");
}

.camoButton{
    background: none;
    outline: none;
    border: none;
}

.starButton {
    padding: 0;
    max-width: 3rem;
    height: 3rem;
}

.sub-title {
    margin: 0.5rem;
}

.rp-label {
    padding: 0 1rem;
}


/*
 *
 * COMPONENTS
 *
 */
.algae {
    font-weight: 900;
    color: lightseagreen;
    text-decoration: none;

}
.coral {
    font-weight: 900;
    color: lightgrey;
}
button {
    font-size: 0.8rem;
    border-radius: var(--border-radius);
}
.team {
    font-size: 1.5rem;
    padding: 0.3rem;
    align-self: center;
    justify-self: center;
}

.phase-selector-switch{
    border-style: solid;
    border-radius: var(--border-radius);
    border-width: 1px;
    width: 100%;
    button {
        margin: 0;
        border-width: 0;
        padding: 0;
    }
}

.phase-selector-switch span{
    padding: 0 0.5rem;
}