/*
 *
 * LAYOUT
 *
 */
html {
    body {
        margin: 0;
        padding: 0;
    }
}
.red-field-container,
.blue-field-container{
    display: grid;
    grid-template-columns: 194fr 441fr 458fr 445fr 198fr;
    grid-template-rows: 301fr 205fr 206fr 397fr 264fr 408fr;
    grid-template-areas:
        "left barge-left barge barge-right right"
        "left start-zone start-zone start-zone right"
        "left . behind-reef . right"
        "left reef-left reef reef-right right"
        "left reef-front-left reef-front reef-front-right right"
        "left left-station driver-station right-station right";
    aspect-ratio: 1736/1791;

}
.barge-left{
    grid-area: barge-left;
}
.barge{
    grid-area: barge;
}
.barge-right{
    grid-area: barge-right;
}
.start-zone{
    grid-area: start-zone;
}
.behind-reef{
    grid-area: behind-reef;
}
.reef-left{
    grid-area: reef-left;
}
.reef{
    grid-area: reef;
}
.reef-right{
    grid-area: reef-right;
}
.reef-front-left{
    grid-area: reef-front-left;
}
.reef-front{
    grid-area: reef-front;
}
.reef-front-right{
    grid-area: reef-front-right;
}
.left-station{
    grid-area: left-station;
}
.driver-station{
    grid-area: driver-station;
}
.right-station{
    grid-area: right-station;
}


.red-field-container > div {
    min-height: 0;
    min-width: 0;
    justify-self: center;
    align-self: center;
    overflow: clip;
}

.left {
    justify-self: left !important;
}
.right {
    justify-self: right !important;
}
.top {
    align-self: start !important;

}
.bottom {
    align-self: end !important;
}

#layout {
    header {
        display: grid;
        grid-template-columns: 2fr 5fr 2fr;
        #logo {
            img {
                max-width: 80px;
            }
            align-self: center;
        }
        #title{
            align-self: center;
            justify-self: center;
            img {
                padding-top: 13px;
                width: 100%;
            }

        }
        .sync-button {
            justify-self: end;
            align-self: center;
            width: 1.75rem;
            margin-bottom: 0.85rem;
            padding: 0.5rem 0.75rem 0 0.5rem;
        }
    }
}
#field-layout {
    padding: 1rem 1rem 3rem 1rem;
    header {
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        .phase-selector {
            justify-self: center;
            align-self: center;
        }
        .penalties-menu {
            justify-self: end;
        }
    }
}
.icon {
    display: inline-block;
    width: 2rem;
    height: 1.75rem;
    fill: var(--primary-text);
    margin-top: 0.5rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    div, menu {
        justify-self: center;
        align-self: center;
    }
    menu li{
        list-style: none;
        display: inline-block;
        padding: 0 .6rem;
    }
}

.red-auto-map,
.blue-auto-map {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-areas: "left center right";
    aspect-ratio: 1376/494;
    width: 75%;
    div{
        justify-self: center;
        align-self: center;
    }
}


/*
 *
 * COLORS
 *
 */
:root {
    --primary-text: #222;
    --primary-background: #eed;
    --secondary-text: blue;
    --secondary-background: #eed;
    --alliance-red: red;
    --alliance-blue: navy;
    --title-bar-background: #444;
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-text: #eed;
        --primary-background: #222;
        --secondary-text: skyblue;
        --secondary-background: #222;
        --alliance-red: red;
        --alliance-blue: dodgerblue;
    }
}
html {
    color: var(--primary-text);
    background-color: var(--primary-background);
}
a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--secondary-text)
}
.allianceRed {
    color: var(--alliance-red)
}
.allianceBlue {
    color: var(--alliance-blue)
}
#layout > header {
    background-color: var(--title-bar-background)
}
.gold {
    fill: goldenrod;
}

.star-outline{
    fill: var(--primary-text);
}
.star-filled{
    fill: goldenrod;
}
.star-empty{
    fill: var(--primary-background);
}


/*
 *
 * TYPOGRAPHY
 *
 */
html {
    font-family: "Roboto Light", sans-serif;
}
#title {
    font-size: 1.5rem;
    font-weight: 800;
}



/*
 *
 * GENERAL STYLING
 *
 */
.red-field-container,
.blue-field-container{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.red-field-container{
    background-image: url("../requirements/fields/reefscape-red.png");
}
.blue-field-container{
    background-image: url("../requirements/fields/reefscape-blue.png");
}

.red-auto-map,
.blue-auto-map {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.red-auto-map{
    background-image: url("../requirements/fields/automap-red.png");
}
.blue-auto-map{
    background-image: url("../requirements/fields/automap-blue.png");
}

.camoButton{
    background: none;
    outline: none;
    border: none;
}


/*
 *
 * COMPONENTS
 *
 */
.algae {
    font-weight: 900;
    color: lightseagreen;
    text-decoration: none;

}
.coral {
    font-weight: 900;
    color: lightgrey;
}
button {
    font-size: 0.8rem;
}
.team {
    font-size: 1.5rem;
    padding: 0.3rem;
}

.phase-selector-switch{
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

.phase-selector-switch span{
    padding: 0 0.5rem;
}